{% extends 'form_base.html' %}

{% block header %}{% endblock %}

{% block form_header %}Glossary Form{% endblock %}

{% block form %}
<form name="GlossaryForm" 
      method="post" 
      action="">
{% endblock %}

{% block form_errors %}
	{{ form.term.errors }}
	{{ form.definition.errors }}
	{{ form.reference.errors }}
{% endblock %}

{% block other %}
<div>
	<div class="preview"><span ng-bind-html="ctrl.mark | markdown"></span></div>
</div>

<div class="col-md-6">
	<h3>### Markdown Key</h3>
	<div>
		<p><strong>**Bold**</strong></p>
		<p><em>_Italics_</em></p>
		<p><li>+ list item</li></p>
		<p><a href="https://github.com/adam-p/markdown-here/wiki/Markdown-Cheatsheet">[More here]</a></p>
	</div>
</div>	

{% endblock %}