<html>
	<head>
		<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet">
		<link rel="stylesheet" href="{{ STATIC_URL }}libs/ng-table/ng-table.css">
		<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}protein.css">
		<title>Protein Playground</title>
	</head>
	<body>
		
		{% block header %}
		{% endblock %}

		<div ng-app="proteinApp">

		{% block content %}
		{% endblock %}
		
		</div>
		
		<script src="https://code.jquery.com/jquery-2.1.3.min.js"></script>
		<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.11/angular.min.js"></script>
		<script src="http://code.highcharts.com/highcharts.js"></script>
		<script src="http://code.highcharts.com/highcharts-more.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/showdown/0.4.0/Showdown.js"></script>
		<script src="{{ STATIC_URL }}libs/ng-table/ng-table.js"></script>
		<script src="{{ STATIC_URL }}app.js"></script>
	</body>
</html>