<html>
<head>
	<title>Array display</title>
</head>
<body ng-app="TestApp">
	<h3>Test</h3>
	<div ng-controller="listController">
		<div>
			
		</div>
	</div>
	<script src="https://code.jquery.com/jquery-2.1.3.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.11/angular.min.js"></script>
	<script type="text/javascript">
	angular.module('TestApp', [])
		.factory('ProteinListFactory', ['$http', function($http) {

			var base = 'http://localhost:8000/api/v1/protein/';
			var ProteinListFactory = {};

			ProteinListFactory.getList = function() {
      	return $http.get(base);
			};
      
      return ProteinListFactory;
    
		}])
		.controller('listController', ['ProteinListFactory', 
				function(ProteinListFactory) {
			console.log('controller');
			var proteinList;

			function getProteins() {
				ProteinListFactory.getList()
					.success(function(data) {
						$scope.proteinList = data;
						console.log(data);
					})
					.error(function() {
						console.log('retrieval of data failed');
					});
			}

			getProteins();
		}]);
	</script>
</body>
</html>