{% extends 'base.html' %}

{% block content %}
	<div ng-controller="AminoController">
		<div class="text-center">
			<h3><span ng-bind="proteinName"></span></h3>
		</div>
		<div class="row">
			<div class="col-md-offset-1 col-md-5">
				<table ng-table class="table">
				<tr ng-repeat="protein in proteinData">
					<td data-title="'Characteristic'"><span ng-bind="(protein.name)"></span></td>
					<td data-title="'Value'"><span ng-bind="(protein.value | number:2)"></span></td>
				</tr>
				</table>
			</div>
			<div class="col-md-4"> 
				<div class='structure-bar' id="graph2" items="structure"></div>		
			</div>
		</div>	
		<div class="row">
			<div class="col-md-offset-1 col-md-3">
				<button id="button_comp" class="btn btn-default" ng-click="aminoGraph = 'composition'">
					Protein Composition
				</button>
				<button id="button_percent" class="btn btn-default" ng-click="aminoGraph = 'percent'">
					Percent
				</button>
			</div>
		</div>	
		<div class="row">
			<div class="col-md-offset-2 col-md-8">
				<div ng-switch="aminoGraph">
					<div ng-switch-when="composition">
						<div class='amino-bar' id="graph1" items="details"></div>
					</div>
					<div ng-switch-when="percent">
						<div class='percent-bar' id="graph3" items="percent"></div>
					</div>
				</div>
			</div>	
		</div>
	</div>
</div>

{% endblock %}