{% extends "base.html" %}

{% block header %}{% endblock %}

{% block content %}
<div id="login-page">
  <div class="container">
    <div class="row">

      <div class="col-md-4">
        <div>
          <h3>Sign In</h3>
        </div>

        {% if form.errors %}
        <div class="alert alert-danger">
          Your username and password didn't match. Please try again.
        </div>
        {% endif %}
        <form method="post" action="/login/">
          {% csrf_token %}
          <div class="form-group">
          	<label>Username:</label>
          	<input type="text" class="form-control" name="username" value=""/>
          </div>
          <div class="form-group">
          	<label>Password:</label>
          	<input type="password" class="form-control" name="password" value=""/>
          </div>
          <input type="submit" value="Login" class="btn btn-default"/>
          <input type="hidden" name="next" value="{{ next }}" />
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock content %}

